@import '../styles/_abstracts/typography';
@import '../styles/_abstracts/colours';

.container {

}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3.2rem;
  margin-top: 10rem;
}

.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 8rem;
}

.button {
  text-decoration: none;
  font-family: $secondary-font;
  font-size: 2rem;
  color: $accent-blue;
}

.meatballs{
  width: 40rem;
  position: absolute;
  right: 0;
  bottom: 0;
}