@import '../styles/_abstracts/typography';
@import '../styles/_abstracts/colours';

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15rem 0 0 5rem;

  .contact-title {
    display: flex;
    text-transform: uppercase;
    font-family: $secondary-font;
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

.social-media-bar {
  display: flex;
  justify-content: center;
}