@import '../styles/_abstracts/typography';
@import '../styles/_abstracts/colours';

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem 0 0 5rem;
}

.social-media-bar {
  display: flex;
  justify-content: center;
}