@import '../styles/_abstracts/typography';
@import '../styles/_abstracts/colours';

.container {
  background-color: $primary-black;
  font-family: $accent-font;
  font-size: 3rem;
  color: white;
  height: 100vh;
  width: 100%;

  h1 {
    text-align: left;
    margin: 10rem 0 0 5rem;
  }
}