@import '../styles/_abstracts/typography';
@import '../styles/_abstracts/colours';

ul {
  font-family: $secondary-font;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 3rem;
  margin-right: 2rem;

  li, a {
    text-decoration: none;
    list-style-type: none;
    color: white;
  }

  a:hover {
    color: $accent-pink;
  }
}