@import '../styles/_abstracts/typography';
@import '../styles/_abstracts/colours';

.container-messenger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .flex {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .work_2 {
      width: 100%;
      height: 32rem;
      margin-bottom: 3rem;
    }
  }

  .info {
    color: white;
    letter-spacing: .05rem;
    margin-bottom: .5rem;
  }

  .link-project {
    font-family: $secondary-font;
    margin: 1rem 0 2rem 0;

    .project-txt {
      display: flex;
      flex-direction: row;
      font-size: 1.8rem;
      color: white;
      margin-bottom: .5rem;

      .link-github {
        margin-left: .6rem;
        text-decoration: none;
        color: $accent-blue;
      }
    }
  }
}