@import '../styles/_abstracts/typography';
@import '../styles/_abstracts/colours';
.container-skills {
  color: white;
  font-family: $secondary-font;
  font-size: 2.4rem;

  .logos {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    position: absolute;
    bottom: 1rem;
  }

  progress[value] {
    background-color: red;
  }

  .html, .scss, .js, .react {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #health {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30rem;
    }
  }
}